* {
  box-sizing: border-box;
}

html {
  background: white;
  padding: 3rem;
}

h1 {
  color: black;
}

header {
  display: flex;
  align-items: center;

}

header .logo {
  margin-right: auto;
  margin-top: -1rem;

}

header a {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 600;
  padding: 5px 20px;
  font-size: 1.5rem;
  margin-bottom: -1rem;
}

header a:hover {
  color: #F4CE14;
  transition: 1s;

}

.about-page-content {
  padding-inline: 23px;
  color: #161616;
  margin-bottom: 55px;
}

.about-page-content h1 {
  line-height: 38px;
}

.home-title  {
  padding-top: 5rem;
  margin-left: 7rem;
  color: #F4CE14;
  font-size: 48px;
}

.home-title-1 {
  margin-left: 7rem;
  color: #F4CE14;
  font-size: 36px;
}

.mission {
  margin-left: 7rem;
  color: white;
  font-size: 24px;
}

.home-container {
  background-color: #495E57;
  margin: -5rem;
  margin-top: 2rem;
}

.home-container p {
  line-height: 24px;
}

.home-container a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-left: 7rem;
  width: 12rem;
  background-color: #F4CE14;
  padding-block: .75rem;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.home-container a:hover {
  background-color: white;
  color: #F4CE14;
  transition: 1s;
}

.waiter-img {
  height: 25rem;
  width: 25rem;
  border-radius: 2rem;
  margin-left: 65%;
  margin-top: -17rem;
  margin-bottom: 2rem;
}


/* About */

.tables-1 {
  margin-top: 1rem;
  margin-left: 10rem;
  max-width: 75%;
  border-radius: 1rem;
}

.about-main-content {
  color: black;
  margin-top: 5rem;
  font-size: 24px;
  line-height: 2;
  padding: 2rem;
}


.about-page-content {
  padding-inline: 23px;
  color: #161616;
  margin-bottom: 55px;
}

.about-page-content h1 {
  line-height: 38px;
}

.about-page-content p {
  line-height: 22px;
}

.about-page-cta {
  background-color: #FFCC8D;
  color: #161616;
  padding-inline: 32px;
  padding-bottom: 32px;
  margin-inline: 27px;
  border-radius: 5px;
}

.about-page-cta h2 {
  margin: 0;
  padding-block: 37px;
}

.about-page-cta .link-button {
  background-color: #161616;
  color: white;
  border-radius: 10px;
}


/* Dishes */

.articles .heading {
  text-decoration: underline;
  padding-left: 44%;
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-top: 5rem;
  background-color: white;
}

.articles .articles-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 5rem;
  margin-top: -2rem;
  background-color: white;
}

.articles .articles-container .article-info {
  width: 25rem;
  margin: 2rem 1rem;
  overflow: hidden;
  border-radius: .5rem;
  box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
  background-color: #495E57;
}

.articles .articles-container .article-info img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

.articles .articles-container .article-info .article-content {
  padding: 0 1.5rem;
}

.articles .article-content .button {
  display: block;
  padding: 1rem 2rem;
  margin-bottom: 2rem ;
}


.articles .articles-container .article-info  .article-content span {
  color: black;
  font-size: 1.5rem;
  display: block;
  padding: 1rem 0;
}


.articles .articles-container .article-info  .article-content p {
  font-size: 1.3rem;
  color: #F4CE14;
}


/* Form */


.booking-heading {
  text-align: center;
  font-size: 3rem;
  color: black;
  font-weight: bolder;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.booking {
  border-radius: 1rem;
 
}

.booking-button {
  background-color: #F4CE14;
  color: #495E57;
  padding: 1rem 4rem;
  border-radius: 1rem;
 margin-left: 15rem;
}

.booking-button:hover {
  background-color: #495E57;
  color: #F4CE14;
  padding: 1rem 4rem;
  border-radius: 1rem;
  transition: 1s;
}


.booking form {
  border-radius: .5rem;
  padding: 2rem;
  margin: 0 auto;
  max-width: 50rem;
  background-color: #495E57;
}

.booking form .message {
  margin-bottom: 2rem;
  border-radius: .5rem;
  background-color: var(--blue);
  padding: 1.2rem 2rem;
  font-size: 1.7rem;
  color: var(--white);
  text-align: center;
}

.booking form .signup {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: .5rem;
  background-color: var(--white);
  padding: 1.2rem 1.4rem;
  font-size: 1.7rem;
  color: var(--black); 
  text-transform: none;
}

.booking form label {
  font-size: 1.7rem;
  color: #F4CE14;
}

.booked-main {
  text-align: center;
  padding-top: 5rem;
}

.confirmation {
  text-align: center;
  margin-top: -1rem;
}

.booked-main {
  font-size: 36px;
  margin-top: 2rem;
}

/* Map */

iframe {
  margin-left: 23rem;
  margin-top: 2rem;
}

.contact-heading {
  margin-top: 5rem;
  margin-left: 37rem;
}

.contact-info{
  margin-top: 2rem;
  margin-left: 30rem;
  font-size: 24px;
}

